<header class="header-6">
    <div class="branding">
        <a href="#" class="brand-logo white-text">{{title}}</a>
    </div>
    <div class="header-nav">
        <a class="nav-link nav-text" routerLink="about">About</a>
        <a class="nav-link nav-text" routerLink="players">Players</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
<br>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">World Go Club</h5>
        <p class="grey-text text-lighten-4">Best Go players in the world.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 GNU GPL v2. Rafael Furry
     <a class="right" routerLink="admin">Admin</a>
    </div>
  </div>
</footer>