<form>
    <section class="form-block">
        <label>Add New Player to List</label>
        <div class="form-group">
            <label>Player Name:</label>
            <input #newName type="text" placeholder="Enter Player Name" size="45">
        </div>
        <div class="form-group">
            <label>Player Country:</label>
            <input #newCountry type="text" placeholder="Enter Player Country" size="45">
        </div>
        <div class="form-group">
            <label>Player Ranking:</label>
            <textarea #newRanking placeholder="Enter Enter Player Ranking" rows="5"></textarea>
        </div>
        <button (click)="submitForm(newPlayer.value, newCountry.value, newRanking.value); newPlayer.value=''; newCountry.value=''; newRanking.value=''" class="btn btn-primary">Add</button>
    </section>
</form>

<clr-datagrid>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'Country'">Country</clr-dg-column>
    <clr-dg-column [clrDgField]="'Ranking'">Ranking</clr-dg-column>
    
    <clr-dg-row *clrDgItems="let player of players | async">
        <clr-dg-cell>{{player.name}}</clr-dg-cell>
        <clr-dg-cell>{{player.country}}</clr-dg-cell>
        <clr-dg-cell>{{player.ranking}}<button class="btn btn-primary right"
         (click)="goToEditPage(player)">Edit</button></clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>